.textOutput {
  font-size: 16px;
  font-style: bold;
  color: #3c8dbc;
  text-align: center;
  padding-top: 35px;
}

.loader {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

.button {
  padding-top: 35px;
}

.box {
  height: calc(100vh - 80px);
  
}

.button:hover {
  
}
}